#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
.board {
    background-color: gray;
    width: 560px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    
}

.tile {
    width:70px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 0.1px solid #769656;
}

.tile-white {
    background-color : #769656;
}

.tile-black {
    background-color : #e7e7cb;
}

.hint {
  /* background-color: rgba(100, 100, 159, 0.9); */
  background-image: url('./images/circle_blue.png'); /* Add your image */
  background-position: center; /* Center the image in the square */
  background-repeat: no-repeat;
  background-size: 25%;
}

.danger {
  background-color: rgba(202, 76, 76, 0.5);
  
}

.advantage {
  background-color: rgba(18, 227, 11, 0.5);
}

.piece {
    width: 40px;
    height: 40px;
    place-content: center;
    color:black;
}